$primary: #0091ff;
$secondary: #c0c3c7;
$purple: #7042e6;
$info: $purple;
$light: #f3f4f4;
$link-color: #343a40;
$border-color: #d9dbdd;
$border-radius: 0;
$btn-border-radius: .25rem;
$font-size-base: 14;
$body-color: #828790;
$table-dark-bg: #828790;
$table-border-color: #d9dbdd;
$modal-content-border-radius: 0;
$modal-content-border-width: 0;
$modal-inner-padding: 2rem;

@import '../../node_modules/bootstrap/scss/bootstrap';

// common

// tab
.nav-link[data-toggle="tab"] {
  text-align: center;
  border: 1px solid transparent;

  &:not(.active) {
    border-color: $border-color;
  }

  &.disabled {
    background-color: #c0c3c7;
    color: #fff;
  }
}

.tab-pane {
  margin-top: -1px;
}

.btn-group {
  .btn {
    border-radius: 0;
    background-color: #f3f4f4;

    &.active {
      background-color: #fff;
      border: 2px solid $primary;
      color: $primary;
    }

    img {
      display: none;
    }

    &:not(.active):not(.disabled) {
      input + img {
        display: inline-block;
      }
    }

    &.active:not(.disabled) {
      img[src*='check.png'] {
        display: inline-block;
      }
    }

    &.disabled {
      img[src*='copy.png'] {
        display: inline-block;
      }

      color: #333 !important;
      border: 2px solid #c0c3c7 !important;
    }
  }

  .nav-link {
    padding: 0;
    color: #fff;

    &.active {
      text-decoration: underline;
    }
  }
}

.btn-secondary {
  color: #fff;
}

// modal
.modal {

  .modal-header {
    justify-content: center;
  }

  .modal-footer {
    justify-content: center;
    padding-top: 0;
    padding-bottom: 36px;

    .btn {
      min-width: 140px;
      padding: $btn-padding-x $btn-padding-y;
      font-weight: bold;
    }
  }

  &:not(.modal-alert) {
    .modal-header {
      background-color: $purple;
      color: #fff;
    }
  }

  &.modal-alert {
    .modal-header {
      border-bottom: 1px solid $border-color;

      .modal-title {
        margin-left: auto;
        color: $purple;
      }

      .close {
        font-weight: 100;
        font-size: 2rem;
        line-height: 1;
        padding: .5rem 1rem 0;
      }
    }
  }
}

// table
.table {
  th {
    font-weight: 400;
  }

  tbody tr {
    &.bg-primary {
      background-color: #e9f6fe !important;
    }
  }

  &.table-hover {
    tbody tr {
      cursor: pointer;
    }
  }
}

// popover
.bs-popover-bottom > .arrow::after,
.bs-popover-auto[x-placement^="bottom"] > .arrow::after {
  border-bottom-color: $primary;
}
.bs-popover-bottom > .arrow::before,
.bs-popover-auto[x-placement^="bottom"] > .arrow::before {
  border-bottom-color: rgba(0, 0, 0, 0);
}

.popover {
  border: 0;
  top: 77px !important;
  left: 24px !important;

  .popover-body {
    background-color: $primary;
    min-width: 216px;

    a {
      color: #fff;
    }
  }
}
